<ion-header id="chat-header">
  <ion-navbar>
    <ion-title>
      <div class="horizontal layout center header-chat">
        <img src="{{receiveUser.mycarespot.Image}}" alt="">
        <div class="flex">
          <div class="user-name">{{receiveUser.mycarespot.Name}}</div>
          <div class="user-status horizontal layout center"><span class="online-status"></span> Online</div>
        </div>
      </div>
    </ion-title>

    <ion-buttons end>
      <button ion-button clear item-end style="padding-right: 0" (click)="startCallUser(receiveUser, false)">
        <ion-icon name="ios-videocam" style="font-size: 2.2em;"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content id="chat-content">
  <div padding class="text-center" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <div class="messages" (click)="readMessage()" id="messages">
    <ul class="chat">
      <li class="chat__bubble" *ngFor="let item of messages; let i = index; trackBy: index" [ngClass]="{'chat__bubble--rcvd': item.from._id != user._id, 'chat__bubble--sent': item.from._id == user._id, 'chat__bubble--stop': (i == messages.length - 1) || i < messages.length && item.from.userId != messages[i + 1].from._id, 'no-bg': item.image || item.pdf || item.video || item.audio || item.voiceMessage}">
        <div *ngIf="item.from._id != user._id">
          <img src="{{item.from.avatar}}" alt="" *ngIf="i == (messages.length - 1) || i < messages.length && item.from.userId != messages[i + 1].from.userId" class="message-user-avatar">
        </div>
        <div *ngIf="item.text" class="message-text">{{item.text}}</div>
        <div *ngIf="item.image" class="message-image">
          <img src="{{item.image}}" alt="" imageViewer>
        </div>

        <div *ngIf="item.pdf" class="message-pdf">
          <div class="file-pdf" (click)="openFile(item.pdf)">
            Click Open File PDF <ion-icon name="ios-document-outline"></ion-icon>
          </div>

        </div>

        <div *ngIf="item.audio" class="message-audio">
          <audio controls [src]="item.audio | safe:'url'"></audio>
        </div>

        <div *ngIf="item.video" class="message-video">
          <video controls [src]="item.video | safe:'url'"></video>
        </div>


      </li>
    </ul>
  </div>

</ion-content>
<ion-footer class="horizontal layout center chat-footer">
  <input type="file" accept="*" #file
         style="visibility: hidden; position: fixed; z-index: -99999" (change)="uploadFile($event)">
  <button clear icon-start ion-button (click)="file.click()" class="first-child">
    <ion-icon name="ios-add-circle"></ion-icon>
  </button>

  <button clear icon-start ion-button (click)="presentActionSheet()" class="first-child" *ngIf="platformName == 'ios'">
    <ion-icon name="ios-camera"></ion-icon>
  </button>
  <input type="text" placeholder="Text message..." class="flex" [(ngModel)]="text">
  <button clear icon-start ion-button (click)="sendMessage()">
    <ion-icon name="ios-send"></ion-icon>
  </button>
</ion-footer>

<div class="resize-drag" *ngIf="localStream">
  <div class="video-window vertical layout">

    <video [src]="localStream.src | safe:'url'" playsinline autoplay muted="muted" id="localVideo" class="window-local" *ngIf="localStream"></video>


    <div class="video-calling flex horizontal layout" tab-element>
      <div class="flex horizontal layout">


        <div class="window-remote" *ngIf="remoteStream">
          <video [src]="remoteStream.src | safe:'url'" playsinline autoplay muted="muted" id="remoteVideo"></video>
        </div>

        <div class="wait-call horizontal layout center center-justified flex" style="margin: 40px 0;" *ngIf="!remoteStream" >
          <div>
            <div class="avatar-call">
              {{receiveUser.name[0]}}
            </div>
            <span>Video Calling... {{receiveUser.name}}</span>
          </div>
        </div>
      </div>

    </div>


    <div class="video-option horizontal layout center" style="height: 54px">
      <div class="flex">
        <button ion-button color="light" (click)="zoomVideo($event)">
          <i class="material-icons">zoom_out_map</i>
          <!--<i class="ion ion-arrow-shrink" *ngIf="data.isZooming"></i>-->
        </button>
      </div>
      <div class="flex">
        <button ion-button color="danger" (click)="closeCallUser()"><i class="material-icons">call_end</i></button>
      </div>
      <div class="flex">
        <button ion-button color="light" (click)="muteAudio()">
          <i class="material-icons">mic</i>
          <!--<div class="line" ng-if="data.muted"></div>-->
        </button>

      </div>
    </div>
  </div>
</div>
