
$positive: #387ef5;

page-chat {

  .resize-drag.zoom-video {
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    transform: initial !important;
  }

  .video-window .flex {
    text-align: center;
  }
  .video-window .flex button {
    min-width: 42px;
    min-height: 42px;
    padding: 0;
  }

  .video-window .flex button .ion-ios-telephone{
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .line{
    width: 100%;
    border-bottom: 1px solid black;
    position: absolute;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 21px;
  }

  .audio-call .window-remote {
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    left: -10000px;
  }


  .avatar-call {
    width: 80px;
    height: 80px;
    background-color: #387ef5;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 26px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .wait-call {
    width: 100%;
    margin-top: 30px;
  }
  .resize-drag {
    background-color: #000;
    color: white;
    z-index: 99999;
    position: fixed;
    top: 40px;
    width: 300px;
    height: 400px;
    left: 20px;
    border-radius: 5PX;
  }

  .video-window {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .video-option {
    //display: none !important;
  }

  .video-window.active .video-option {
    display: flex !important;
  }

  .video-window .ion-arrow-resize{
    display: none;
    position: absolute;
    color: #000;
    font-size: 20px;
  }

  .video-window.active .ion-arrow-resize{
    display: block;
  }

  .video-window.active .window-remote video {
    padding-bottom: 60px;
  }

  .video-window video {
    max-height: 100%;
    -webkit-transform: scaleX(-1);
  }

  .window-local {
    position: absolute;
    left: 0;
    top: 0;
  }

  .window-local {
    z-index: 9999;
    object-fit: contain;
    width: 100px;
    height: 133px;
  }

  .window-local.rotate {
    width: 133px;
    height: 100px;
  }

  .window-remote {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -20px;
    left: 0;
  }

  .window-remote video{
    z-index: -2;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .close-window i  {
    color: #fff;
  }

  video::-webkit-media-controls { display:none !important; }

  body {
    background-color: transparent !important;
  }

  .left-top {
    left: -15px;
    top: -15px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }

  .right-top {
    right: -15px;
    top: -15px;
  }

  .left-bottom {
    bottom: -15px;
    left: -15px;
  }

  .right-bottom {
    bottom: -15px;
    right: -15px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }

  /* hide video element controls */
  video::-webkit-media-controls {
    display: none !important;
  }
  video::-webkit-media-controls-start-playback-button {
    display: none !important;
  }

  .spinner-video {
    stroke: #fff;
    fill: #fff;
  }


  .header-chat {
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #ddd;
      margin-right: 10px;
    }

    .online-status {
      width: 10px;
      height: 10px;
      background-color: #10bd10;
      border-radius: 50%;
    }

    .user-name {
      font-size: 15px;
      margin-bottom: 3px;
    }

    .user-status {
      font-size: 12px;
      font-weight: 400;
      color: #636363;

      .online-status {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  .chat-footer {
    &:before {
      display: none;
    }

    input {
      height: 34px;
      border-radius: 17px;
      border: 1px solid #ddd;
      padding: 0 14px;
      -webkit-appearance: none;
      appearance: none;
      min-width: 0;
    }

    & > button {
      font-size: 21px;
      padding: 0 5px;

      &.first-child {
        padding-left: 10px;
        font-size: 18px;
      }
      &:last-child {
        padding-left: 10px;
      }
    }
  }

  .messages {
    overflow: hidden;

    .chat {
      list-style-type: none;
      overflow: hidden;
      padding: 0 10px;
    }

    .chat__bubble {
      margin-bottom: 3px;
      padding: 5px 10px;
      clear: both;
      border-radius: 12px 12px 3px 3px;
      max-width: 85%;
      position: relative;
      background: #f1f1f1;
    }

    .chat__bubble--rcvd {
      background: #f1f1f1;
      float: left;
      border-bottom-right-radius: 12px;
      margin-left: 36px;
    }

    .chat__bubble--sent {
      background: $positive;
      color: white;
      float: right;
      border-bottom-left-radius: 12px;
      text-align: right;

      img {
        float: right;
      }
    }

    .chat__bubble--sent + .chat__bubble--sent {
      border-top-right-radius: 3px;
    }

    .chat__bubble--rcvd + .chat__bubble--rcvd {
      border-top-left-radius: 3px;
    }

    .chat__bubble--stop {
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      margin-bottom: 7px;
    }
  }

  .message-user-avatar {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -35px;
    bottom: -5px;
    border-radius: 50%;
    border: 1px solid #ddd;
  }

  .no-bg {
    background-color: transparent !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .message-image {
    img {
      height: 200px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }

  .file-pdf {
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    display: block;
  }

  .message-audio {
    audio {
      border: 1px solid #b9b4b4;
      padding: 1px;
      height: 36px;
      border-radius: 5px;
    }
  }

  .message-video {
    video {
      height: 153px;
      border: 1px solid #ddd;
      width: 270px;
      border-radius: 5px;
    }
  }


}
