<ion-header>
  <ion-toolbar>
    <ion-buttons start>
    </ion-buttons>
    <ion-title>
      <div class="horizontal layout center user-info">
        <div class="home-user flex horizontal layout center">
          <img src="{{user.mycarespot.profileImage}}" alt="" width="30" height="30" class="user-image">
          <div class="user-name">{{user.mycarespot.fullName}}</div>
        </div>
      </div>
    </ion-title>
    <ion-buttons end>
      <button ion-button clear style="padding: 0 5px" (click)="logOut()">
        <ion-icon name="ios-power" style="font-size: 1.8em;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div style="padding: 10px 0">
    <div padding class="text-center" *ngIf="isLoading">
      <ion-spinner></ion-spinner>
    </div>

    <div class="text-center" padding *ngIf="!this.channels.length && !isLoading">
      Your don't have message!!!
    </div>
    <ion-list>
      <ion-item *ngFor="let item of channels; let i = index; trackBy: index" (click)="openChat(item.userShow)" class="item-channel" [ngClass]="{'active': item.userShow.read}">
        <ion-avatar item-start class="image-thumbnail">
          <img src="{{item.userShow.image}}">
          <div class="online-status" *ngIf="i == 0"></div>
        </ion-avatar>
        <ion-note item-end class="time-ago">{{item.lastMessageTime | amTimeAgo}}</ion-note>
        <ion-badge color="danger" class="channel-badge" *ngIf="item.userShow.read">{{item.userShow.read}}</ion-badge>

        <h3>{{item.userShow.name}}</h3>
        <p>{{item.lastMessage}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
