page-video {

  color: #fff;
  .toolbar-title-md {
    color: #fff;
  }

  div {
    color: #fff;
  }

  .toolbar-background.toolbar-background-md {
    background-color: #000;
    box-shadow: none;
  }

  ion-content.content.content-md {
    background-color: #000;
  }

  .scroll-content {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    color: #fff;
    font-size: 23px;
  }
}
